# Cleaning data

In [2]:
import pandas as pd
import numpy as np
from tableone import TableOne
import warnings
warnings.filterwarnings('ignore')

Load and inspect the dataset:

In [3]:
data = pd.read_csv('diabetic_data.csv')
data.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [4]:
data.shape

(101766, 50)

In [5]:
data.columns

Index([u'encounter_id', u'patient_nbr', u'race', u'gender', u'age', u'weight',
       u'admission_type_id', u'discharge_disposition_id',
       u'admission_source_id', u'time_in_hospital', u'payer_code',
       u'medical_specialty', u'num_lab_procedures', u'num_procedures',
       u'num_medications', u'number_outpatient', u'number_emergency',
       u'number_inpatient', u'diag_1', u'diag_2', u'diag_3',
       u'number_diagnoses', u'max_glu_serum', u'A1Cresult', u'metformin',
       u'repaglinide', u'nateglinide', u'chlorpropamide', u'glimepiride',
       u'acetohexamide', u'glipizide', u'glyburide', u'tolbutamide',
       u'pioglitazone', u'rosiglitazone', u'acarbose', u'miglitol',
       u'troglitazone', u'tolazamide', u'examide', u'citoglipton', u'insulin',
       u'glyburide-metformin', u'glipizide-metformin',
       u'glimepiride-pioglitazone', u'metformin-rosiglitazone',
       u'metformin-pioglitazone', u'change', u'diabetesMed', u'readmitted'],
      dtype='object')

Inspect the data types and compare to what you expect based on the data description

In [6]:
data.dtypes

encounter_id                 int64
patient_nbr                  int64
race                        object
gender                      object
age                         object
weight                      object
admission_type_id            int64
discharge_disposition_id     int64
admission_source_id          int64
time_in_hospital             int64
payer_code                  object
medical_specialty           object
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_outpatient            int64
number_emergency             int64
number_inpatient             int64
diag_1                      object
diag_2                      object
diag_3                      object
number_diagnoses             int64
max_glu_serum               object
A1Cresult                   object
metformin                   object
repaglinide                 object
nateglinide                 object
chlorpropamide              object
glimepiride                 object
acetohexamide               object
glipizide                   object
glyburide                   object
tolbutamide                 object
pioglitazone                object
rosiglitazone               object
acarbose                    object
miglitol                    object
troglitazone                object
tolazamide                  object
examide                     object
citoglipton                 object
insulin                     object
glyburide-metformin         object
glipizide-metformin         object
glimepiride-pioglitazone    object
metformin-rosiglitazone     object
metformin-pioglitazone      object
change                      object
diabetesMed                 object
readmitted                  object
dtype: object

In [7]:
data.admission_type_id = data.admission_type_id.astype('O')
data.admission_source_id = data.admission_source_id.astype('O')

## Missingness

How are missing values recorded? Also refer to the variable description table.

In [8]:
data.replace('None', np.nan, inplace=True)
data.replace('^[?]+$', value=np.nan, regex=True, inplace=True)

Describe "object" (categorical) type columns

In [9]:
data.describe(include=['O'])

,race,gender,age,weight,payer_code,medical_specialty,diag_1,diag_2,diag_3,max_glu_serum,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
count,99493,101766,101766,3197,61510,51817,101745,101408,100343,5346,...,101766,101766,101766,101766,101766,101766,101766,101766,101766,101766
unique,5,3,10,9,17,72,716,748,789,3,...,1,4,4,2,2,2,2,2,2,3
top,Caucasian,Female,[70-80),[75-100),MC,InternalMedicine,428,276,250,Norm,...,No,No,No,No,No,No,No,No,Yes,NO
freq,76099,54708,26068,1336,32439,14635,6862,6752,11555,2597,...,101766,47383,101060,101753,101765,101764,101765,54755,78363,54864

Describe the numerical columns

In [10]:
data.describe(include=['int'])

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,1.652016e+08,5.433040e+07,2.024006,3.715642,5.754437,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,1.026403e+08,3.869636e+07,1.445403,5.280166,4.064081,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.252200e+04,1.350000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.496119e+07,2.341322e+07,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,1.523890e+08,4.550514e+07,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,2.302709e+08,8.754595e+07,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,1.895026e+08,8.000000,28.000000,25.000000,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

In [11]:
for column in data.columns:
    if data[column].dtypes == 'O':
        missing = len(data[data[column].isnull()])
        print "%-*s  %-*s" % (25,column, 3, 100*round(missing/float(data.shape[0]),2))

race                       2.0
gender                     0.0
age                        0.0
weight                     97.0
payer_code                 40.0
medical_specialty          49.0
diag_1                     0.0
diag_2                     0.0
diag_3                     1.0
max_glu_serum              95.0
A1Cresult                  83.0
metformin                  0.0
repaglinide                0.0
nateglinide                0.0
chlorpropamide             0.0
glimepiride                0.0
acetohexamide              0.0
glipizide                  0.0
glyburide                  0.0
tolbutamide                0.0
pioglitazone               0.0
rosiglitazone              0.0
acarbose                   0.0
miglitol                   0.0
troglitazone               0.0
tolazamide                 0.0
examide                    0.0
citoglipton                0.0
insulin                    0.0
glyburide-metformin        0.0
glipizide-metformin        0.0
glimepiride-pioglitazone   0.0
metformin-rosiglitazone    0.0
metformin-pioglitazone     0.0
change                     0.0
diabetesMed                0.0
readmitted                 0.0

Weight information is missing for 97% of the observations according to the variable description table. Let's get rid of it.

The same goes for max_glu_serum, A1Cresult, payer_code and medical_specialty that also have high missingness*:

*<sup>whether we do this will always depend on the task at hand</sup>

In [12]:
data.drop(['weight', 'max_glu_serum', 'A1Cresult', 'payer_code', 'medical_specialty'], axis=1, inplace=True)

In [14]:
data['number_emergency'].value_counts(normalize = True)

0     0.888145
1     0.075438
2     0.020066
3     0.007124
4     0.003675
5     0.001887
6     0.000924
7     0.000717
8     0.000491
10    0.000334
9     0.000324
11    0.000226
13    0.000118
12    0.000098
22    0.000059
18    0.000049
16    0.000049
19    0.000039
20    0.000039
14    0.000029
15    0.000029
21    0.000020
25    0.000020
76    0.000010
54    0.000010
24    0.000010
28    0.000010
29    0.000010
37    0.000010
42    0.000010
46    0.000010
64    0.000010
63    0.000010
Name: number_emergency, dtype: float64

Nearly 90% of patients have had no emergency visits so we will delete this column

In [18]:
data.drop(['number_emergency'], axis = 1, inplace = True)

Now let's drop all patients with no race information:

In [19]:
data.shape

(101766, 44)

In [20]:
data = data[data['race'] != '?'] #notice here we are removing rows

data = data[data['gender'] != 'Unknown/Invalid']
data.shape

(101763, 44)

We will treat each other missing value as a valid categorical value for the rest of out observation

In [21]:
data.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,41,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,59,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,11,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,44,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,51,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [22]:
data.dropna(axis=0, inplace=True)

data.shape

(98052, 44)

## Create tableOne

The columns below don't include non-informative features, those where the overwhelming majority (>90%) is one category

In [26]:
# list of columns to be included in tableone
columns = [u'race', u'gender', u'age',
       u'time_in_hospital', u'num_lab_procedures', u'num_procedures',
       u'num_medications', u'number_outpatient', 
       u'number_inpatient', u'number_diagnoses', u'metformin',
       u'glipizide', u'glyburide', u'insulin',
       u'change', u'diabetesMed', u'readmitted']

numerical = [u'time_in_hospital', u'num_lab_procedures', u'num_procedures',
       u'num_medications', u'number_outpatient', u'number_emergency',
       u'number_inpatient', u'number_diagnoses']

# list of columns containing categorical variables
categorical = [u'race', u'gender', u'age', u'metformin', u'glipizide', u'glyburide', u'insulin', 
               u'change', u'diabetesMed', u'readmitted']

In [27]:
# create an instance of TableOne with the input arguments

overall_table = TableOne(data, columns, categorical)

In [28]:
overall_table

Overall
                                 overall        isnull
-------------------------------  -------------  --------
n                                98052
time_in_hospital (mean (std))    4.42 (2.99)    0
num_lab_procedures (mean (std))  43.15 (19.71)  0
num_procedures (mean (std))      1.35 (1.71)    0
num_medications (mean (std))     16.12 (8.11)   0
number_outpatient (mean (std))   0.38 (1.28)    0
number_inpatient (mean (std))    0.65 (1.27)    0
number_diagnoses (mean (std))    7.51 (1.83)    0
race (n (%))                                    0
AfricanAmerican                  18881 (19.26)
Asian                            625 (0.64)
Caucasian                        75079 (76.57)
Hispanic                         1984 (2.02)
Other                            1483 (1.51)
gender (n (%))                                  0
Female                           52833 (53.88)
Male                             45219 (46.12)
age (n (%))                                     0
[0-10)                           65 (0.07)
[10-20)                          466 (0.48)
[20-30)                          1478 (1.51)
[30-40)                          3548 (3.62)
[40-50)                          9265 (9.45)
[50-60)                          16697 (17.03)
[60-70)                          21809 (22.24)
[70-80)                          25305 (25.81)
[80-90)                          16702 (17.03)
[90-100)                         2717 (2.77)
metformin (n (%))                               0
Down                             551 (0.56)
No                               78807 (80.37)
Steady                           17677 (18.03)
Up                               1017 (1.04)
glipizide (n (%))                               0
Down                             541 (0.55)
No                               85769 (87.47)
Steady                           10990 (11.21)
Up                               752 (0.77)
glyburide (n (%))                               0
Down                             538 (0.55)
No                               87791 (89.54)
Steady                           8932 (9.11)
Up                               791 (0.81)
insulin (n (%))                                 0
Down                             11843 (12.08)
No                               45942 (46.85)
Steady                           29368 (29.95)
Up                               10899 (11.12)
change (n (%))                                  0
Ch                               45278 (46.18)
No                               52774 (53.82)
diabetesMed (n (%))                             0
No                               22702 (23.15)
Yes                              75350 (76.85)
readmitted (n (%))                              0
<30                              11066 (11.29)
>30                              34649 (35.34)
NO                               52337 (53.38)

Notice the age groups, do we really want to keep the children and young adults (under 30) in the dataset?

In [29]:
young_patients = ['[0-10)', '[10-20)', '[20-30)']

In [30]:
data = data[~data['age'].isin(young_patients)]

## Duplication

In [31]:
data.shape

(96043, 44)

- How many rows and variables are there in this data set?
- Is there only one observation per patient?

In [32]:
print data.shape

print len(data.patient_nbr.unique())

(96043, 44)
67222

We want to cluster our dataset into diabetic patients subgroups. However we need to be carefull not to include the same patient more than once. How do we decide which measurement to keep for each patient?

In [33]:
# Use the groupby method on the dataframe to group all observetions on the basis of patient number

patient_groups = data.groupby('patient_nbr') 

# Now inspect this groupby object, for example call:

# the following command will start printing the whole dictionary of grouped items:

# patient_groups.groups

The .groups method in the groupby object returns a dictionary where the key is the value groupby column (here the patient number) and the value is the list of indeces that share the same key.

In [34]:
#How many encounters has each patient got?
patient_groups['encounter_id'].count().head(10)

patient_nbr
135     2
378     1
729     1
774     1
927     1
1152    3
1305    1
1314    3
1629    1
2025    1
Name: encounter_id, dtype: int64

Somewhat arbitrarily, since there are no timestamps in this dataset, we decide to keep the latest (maximum) encounter number per patient. The group by object can give us that straight away:

In [35]:
max_encounter = patient_groups['encounter_id'].max().to_dict()

In [36]:
print len(max_encounter)

#and above we saw that:
    
print len(data.patient_nbr.unique())

67222
67222

Now that we have the latest encounter, let's find it for each patient in the original dataset:

In [37]:
# This function checks to see whether the encounter id for each row is indeed the latest:

def is_latest(patid, enc_id):
    if max_encounter[patid] == enc_id:
        return 1
    else:
        return 0

Let's add a column to the dataset to reflect that and then delete all rows with less recent data for duplicate patient numbers:

In [38]:
data['is_latest'] = data.apply(lambda row: is_latest(row['patient_nbr'], row['encounter_id']), axis=1)

data_latest = data[data['is_latest'] == 1].copy()

data_latest.drop('is_latest', axis=1, inplace=True) #no need for this column anymore

print data_latest.shape[0]

67222

Is this a correct approach? What else could we have done? 

Discuss.

In [39]:
overall_table_latest = TableOne(data_latest, columns, categorical)

In [40]:
overall_table_latest

Overall
                                 overall        isnull
-------------------------------  -------------  --------
n                                67222
time_in_hospital (mean (std))    4.36 (3.00)    0
num_lab_procedures (mean (std))  43.45 (19.86)  0
num_procedures (mean (std))      1.42 (1.75)    0
num_medications (mean (std))     16.07 (8.26)   0
number_outpatient (mean (std))   0.33 (1.19)    0
number_inpatient (mean (std))    0.48 (0.99)    0
number_diagnoses (mean (std))    7.47 (1.85)    0
race (n (%))                                    0
AfricanAmerican                  12225 (18.19)
Asian                            493 (0.73)
Caucasian                        51971 (77.31)
Hispanic                         1407 (2.09)
Other                            1126 (1.68)
gender (n (%))                                  0
Female                           35690 (53.09)
Male                             31532 (46.91)
age (n (%))                                     0
[30-40)                          2474 (3.68)
[40-50)                          6412 (9.54)
[50-60)                          11884 (17.68)
[60-70)                          15361 (22.85)
[70-80)                          17599 (26.18)
[80-90)                          11512 (17.13)
[90-100)                         1980 (2.95)
metformin (n (%))                               0
Down                             408 (0.61)
No                               53409 (79.45)
Steady                           12666 (18.84)
Up                               739 (1.10)
glipizide (n (%))                               0
Down                             338 (0.50)
No                               58754 (87.40)
Steady                           7593 (11.30)
Up                               537 (0.80)
glyburide (n (%))                               0
Down                             369 (0.55)
No                               60032 (89.30)
Steady                           6257 (9.31)
Up                               564 (0.84)
insulin (n (%))                                 0
Down                             7210 (10.73)
No                               32777 (48.76)
Steady                           20613 (30.66)
Up                               6622 (9.85)
change (n (%))                                  0
Ch                               30057 (44.71)
No                               37165 (55.29)
diabetesMed (n (%))                             0
No                               16430 (24.44)
Yes                              50792 (75.56)
readmitted (n (%))                              0
<30                              3111 (4.63)
>30                              13370 (19.89)
NO                               50741 (75.48)

In [41]:
data_latest.to_csv('diabetic_data_clean.csv', index = False)